footer{
    padding: 0%;
    margin: 0%;
    background-color: black;
    width: 100dvw;
    height: 400px;
    position: relative;
}

footer .contan{
    margin: 0%;
    padding: 0%;
    display: inline-block;
    gap: 10px;
    height: 350px;
    padding-top: 40px;
    margin-left: 40px;
    position: relative;
}

.foot{

    width: 15dvw;
    height: 250px;
    display: inline-block;
}

footer .contan .foot h1{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
}

.foot ul p{
    color: white;
    font-size: 15px;
    margin-bottom: 0px;
}

 .foot ul li a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    margin: 0%;
    padding-top: 5px;
}

.foot ul{
    padding: 20px;
}

br{
    display: none;
}

.foot ul li{
    padding-top: 5px;
}

.foot ul .email {
    text-decoration: none;
    color: white;
    padding-left:0px;
    margin: 0%;
    padding-top: 5px;
}

.copy{
    width: 200px;
    position: absolute;
    right: 10px;
    bottom: 0px;
    height: 200px;
}

.copy p{
    color: white;
    font-size: 17px;
    margin-bottom: 0px;
}

.copy img{
    width: 70px;
    border-radius: 15px;
    margin : auto 0px
}


@media (max-width:1000px){

    footer{
        height: 700px;
    }

    .contan{
        height: 90%;
    }

    .foot{
        display: inline-block;
        width: 35%;
        margin-top:0px;
        padding: 0%;
        height: 250px;
    }
}

@media (max-width:768px){

    footer{
        height: 650px;
    }

    .contan{
        margin: 0%;
        padding: 0%;

        height: 90%;
    }

    br{
        display: block;
    }
    .foot{
        display: inline-block;
        width: 40%;
        margin-top:0px;
        padding: 0%;
        height: 250px;
    }
}

@media (max-width:600px){
    footer{
        height: 750px;
    }
    .copy{
        left: 50px;

    }
}